.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (width <1080px) {
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width <820px) {
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <520px) {
    .card-wrapper {
        grid-template-columns: 1fr;
    }
}