:root {
    --text: #081521;
    --background: #eef5fb;
    --primary: #5c5d7a;
    --secondary: #d8eeee;
    --accent: #797777;
    --shadow: #100f0f21;
}

.dark {
    --text: #eef5fb;
    --background: #100f0f;
    --primary: #5c5d7a;
    --secondary: #0e2020;
    --accent: #c5c4c4;
    --shadow: #100f0f21;
}