.q1-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: var(--text);
}

.q1-wrapper>div:not(.q-complex),
.q1-wrapper>ol {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    min-width: 200px;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.q1-wrapper li {
    list-style-position: inside;
}

.q-data {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.q-complex {
    outline: none;
    flex: 1;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    gap: 2.5rem;
    text-align: left;
    align-items: center;
    cursor: pointer;
}

.q-complex div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.q-complex div span {
    font-weight: 700;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

.q-complex div span::after {
    content: "";
    display: block;
    background-color: var(--accent);
    width: 70%;
    height: 3px;
    border-radius: 16px;
}