.question {
    background-color: var(--primary);
    color: var(--invt);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 3px 16px var(--shadow);
    width: 100%;
}

.question h2 {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
}

.question h2::after {
    content: "";
    display: block;
    background-color: var(--line);
    width: 45%;
    height: 4px;
    border-radius: 16px;
}

.link {
    word-break: break-all;
}